@using IdeaSystem.Entities;
@using IdeaSystem.Data.Common;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="info">
        <a class="d-block" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> @User.Identity?.Name!</a>
        <a class="d-block"  href="/logout"> Logout</a>
    </div>

    @*<li class="nav-item">
        <a class="d-block" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>*@
    //<a class="brand-text font-weight-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>

}
else
{
    //<span class="brand-text font-weight-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@CommonTable.systemName</span>

    @*<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>*@

    <div class="info">
        <a href="#" class="d-block">@CommonTable.UserName</a>
    </div>
}



