@using IdeaSystem.Data.Common;
@model IEnumerable<IdeaSystem.Entities.Category>
@{
    ViewBag.Title = @CommonTable.categoryTable;
    int i = 0;
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@CommonTable.categoryTable</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">@CommonTable.home</a></li>
                        <li class="breadcrumb-item active">@CommonTable.categoryTable</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
                <a asp-action="Create">Create</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name Category</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <th scope="row">@i</th>
                                <td>@item.category_Name</td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.category_Id">Details </a>|
                                    <a asp-action="Edit" asp-route-id="@item.category_Id"> Edit </a>|
                                    <a asp-action="Delete" asp-route-id="@item.category_Id"> Delete </a>
                                </td>
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>