@using IdeaSystem.Data.Common;
@model IdeaSystem.Models.IdeaDetailModel

@{
    ViewBag.Title = @CommonTable.ideaTable;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@CommonTable.categoryTable</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">@CommonTable.home</a></li>
                        <li class="breadcrumb-item active">@CommonTable.categoryTable</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card">


            <h1>Edit</h1>

            <h4>Idea</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        


                        <div class="form-group" hidden>
                            <label asp-for="idea_Id" class="control-label"></label>
                            <input asp-for="idea_Id" class="form-control" />
                            <span asp-validation-for="idea_Id" class="text-danger"></span>
                        </div>

                        <div class="form-group" hidden>
                            <label asp-for="idea_TopicId" class="control-label"></label>
                            <input asp-for="idea_TopicId" class="form-control" />
                            <span asp-validation-for="idea_TopicId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="idea_Text" class="control-label"></label>
                            <input asp-for="idea_Text" class="form-control" />
                            <span asp-validation-for="idea_Text" class="text-danger"></span>
                        </div>
                        @*                        <div class="form-group">
                        <label asp-for="idea_FilePath"></label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>*@


                        <div class="form-group">
                            <label asp-for="idea_Deadline1" class="control-label"></label>
                            <input asp-for="idea_Deadline1" class="form-control" />
                            <span asp-validation-for="idea_Deadline1" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="idea_Deadline2" class="control-label"></label>
                            <input asp-for="idea_Deadline2" class="form-control" />
                            <span asp-validation-for="idea_Deadline2" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="idea_CategoryName" class="control-label"></label>
                            <input asp-for="idea_CategoryName" class="form-control" readonly/>
                            <span asp-validation-for="idea_CategoryName" class="text-danger"></span>
                        </div>

                        @if (ViewBag.CategoriesNameSelect != null)
                        {
                            <div class="form-group">
                                <label asp-for="idea_CategoryId" class="control-label">Category New</label>
                                <select multiple class="form-control" asp-for="idea_CategoryId">
                                    @foreach (var categoryName in ViewBag.CategoriesNameSelect)
                                    {
                                        <option value="@categoryName.category_Id">@categoryName.category_Name</option>
                                    }
                                </select>
                            </div>
                        }
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>


            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
